$size:37.5;

.vehicle{
    padding-bottom: 60rem/$size;
}
.back{
    background-color: #fff;
}
.header{
    line-height: 18rem/$size;
    padding: 18rem/$size 20rem/$size;
    font-style: normal;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #fff;
    margin-bottom: 10rem/$size;
}
.header span{
    background-color: #ff4001;
    color: #fff;
    padding: 0rem/$size 4rem/$size;
    font-size: 12rem/$size;
    margin-right: 5rem/$size;
}
.header em{
    font-style: normal;
    font-size: 12rem/$size;
}
.header a{
    display: inline-block;
    width: auto;
    height: auto;
    color: #ff4001;
    text-decoration: underline;
    position: absolute;
    right: 20rem/$size;;
    top: 50%;
    transform: translateY(-50%);
}
.back{
    width: 100%;
    height: 220rem/$size;
    position: relative;
}
.back img{
    width: 75rem/$size;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.back p{
    position: absolute;
    top: 75%;
    left: 50%;
    color: #9c9c9c;
    transform: translateX(-50%);
}
.recommend{
    padding: 0 16rem/$size;
    border-top: 1px solid #d1c6af;
    background-color: #fff;
}
.recommend h2{
    height: 50rem/$size;
    line-height: 50rem/$size;
    font-weight: bold;
    font-size: 15rem/$size;
    color: #a38d6b;
    margin-top: 20rem/$size;
}
.recommend h3{
    padding-bottom: 16rem/$size;
    line-height: 18rem/$size;
    color: #a38d6b;
    font-weight: normal;
}
.recommendList{
    padding: 0 16rem/$size;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
}
.goods{
    width: 48%;
    position: relative;
}
.goods img{
    width: 100%;
}
.goods p{
    height: 72rem/$size;
    text-align: left;
    margin-top: 5rem/$size;
}
.goods div{
    line-height: 21rem/$size;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem/$size;
}
.goods div span{
    font-size: 15rem/$size;
}
.join,.details p::before,.plus:before,
.quantity button:nth-child(1):before,
.chop em,.chop span::before,.pitchOn,
.mountingsGoods div:after,.overflowGoods div:after,.essentialGoods div:after{
    background: url('https://newimgcdn.lapetit.cn/h5/images/icons.png?4')no-repeat;
    background-size: 200rem/$size 200rem/$size;
}
.join{
    display: inline-block;
    width: 20rem/$size;
    height: 20rem/$size;
    background-position: -120rem/$size -20rem/$size;
    position: absolute;
    bottom: 2%;
    right: 1%;
}
.MtGoods{
    padding: 10REM/$size 20rem/$size 0 50rem/$size;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10rem/$size;
    background-color: #fff;
    position: relative;
}
.MtGoods a{
    width: 29.6%;
    margin-bottom: 10rem/$size;
}
.MtGoods a img{
    width: 100%;
}
.details{
    width: 70.4%;
    text-align: left;
    padding-left: 9rem/$size;
    position: relative;
    margin-bottom: 10rem/$size;
}
.details h2{
    font-size: 12rem/$size;
    font-weight: normal;
    line-height: 24rem/$size;
    color: #3e3e3e;
}
.details p{
    line-height: 16rem/$size;
    color: #9c9c9c;
    display: flex;
    align-items: center;
}
.details p::before{
    content: '';
    display: inline-block;
    width: 12rem/$size;
    height: 16rem/$size;
    background-position: -47rem/$size -2rem/$size;
}
.goodsprice{
    color: rgb(255, 64, 1);
    position: absolute;
    left: 7rem/$size;
    bottom: 7rem/$size;
    font-size: 13rem/$size;
    font-weight: bold;
}
.quantity{
    width: auto;
    height: 25rem/$size;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 8rem/$size;
}
.quantity span{
    display: inline-block;
    width: 34rem/$size;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12rem/$size;
    background-color: #efefef;
    margin: 0 3rem/$size;
}
.quantity button{
    width: 37rem/$size;
    height: 100%;
    background-color: #efefef;
    border: none;
    outline: none;
}
.plus:before,.quantity button:nth-child(1):before{
    content: '';
    display: inline-block;
    width: 20rem/$size;
    height: 20rem/$size;
    background-position: 0rem/$size 2rem/$size;
}
.subtract:before,.message span::after{
    background: url('https://newimgcdn.lapetit.cn/h5/images/icons_1.png?1')no-repeat!important;
    background-size: 200rem/$size 200rem/$size!important;
    background-position: -140rem/$size -37rem/$size !important;
}
.plus:before{
    background-position: -20rem/$size 2rem/$size;
}
.message{
    background: #f9f9f9;
    width: 100%;
    height: 40rem/$size;
    line-height: 40rem/$size;
    color: #9c9c9c;
    text-align: left;
}
.message span{
    display: inline-block;
    padding: 0 20rem/$size;
    display: flex;
    align-items: center;
}
.message span::after{
    content: '';
    display: inline-block;
    width: 20rem/$size;
    height: 20rem/$size;
    background-position: -160rem/$size -40rem/$size !important;
}
.messageWrap{
    width: 100%;
}
.chop{
    width: 100%;
    height: 40rem/$size;
    line-height: 40rem/$size;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chop span{
    display: flex;
    align-items: center;
}
.chop span::before{
    content: '';
    display: inline-block;
    width: 20rem/$size;
    height: 20rem/$size;
    background-position: -120rem/$size -40rem/$size !important;
}
.chop em{
    display: inline-block;
    width: 20rem/$size;
    height: 20rem/$size;
    background-position: -120rem/$size 0rem/$size;
}
.pitchOnWrap{
    height: 90rem/$size;
    width: 40rem/$size;
    position: absolute;
    left: 10rem/$size;
    top: 10rem/$size;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pitchOn{
    display: inline-block;
    width: 20rem/$size;
    height: 20rem/$size;
    background-position: -180rem/$size -120rem/$size;
    z-index: 777;
    transform: scale(1.1);
}
.pitchOnActive{
    background-position: -180rem/$size -140rem/$size;
}
.wrap{
    width: 100%;
    height: 50rem/$size;
    background-color: #fff;
    position: fixed;
    bottom: 60rem/$size;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 888;
    box-shadow: 0px -2px 2px 0px rgb(244,244,244);
}
.wrap div:nth-child(1),.wrap div:nth-child(2){
    height: 100%;
    display: flex;
    align-items: center;
}
.wrap div:nth-child(1) span{
    background: url('https://newimgcdn.lapetit.cn/h5/images/icons.png?4')no-repeat;
    background-size: 200rem/$size 200rem/$size;
    display: inline-block;
    width: 20rem/$size;
    height: 20rem/$size;
    background-position: -180rem/$size -120rem/$size;
    transform: scale(1.1);
    margin: 0 10rem/$size 0 19rem/$size;
}
.checkAll{
    background-position: -180rem/$size -140rem/$size !important;
}
.wrap div:nth-child(2) em{
    font-style: normal;
    color: red;
    font-weight: bold;
    margin-right: 5rem/$size;
}
.wrap div:nth-child(2) button{
    background-color: #ff4001;
    border: none;
    display: inline-block;
    height: 100%;
    width: 90rem/$size;
    color: #fff;
    font-size: 12rem/$size;
}
.mountings,.overflow,.essential{
    background-color: #fff;
    margin-top: 10rem/$size;
    white-space: nowrap;
    overflow-x: scroll;
    text-align: left;
    padding-bottom: 16rem/$size;
}
.mountings::-webkit-scrollbar,
.overflow::-webkit-scrollbar,
.essential::-webkit-scrollbar {display:none}

.mountings h2,.overflow h2,.essential h2{
    width: 100%;
    height: 50rem/$size;
    line-height: 50rem/$size;
    font-size: 15rem/$size;
    text-align: center;
    color: #696969;
}
.mountings li,.overflow li,.essential li{
    width: 100rem/$size;
    margin-left: 6rem/$size;
    display: inline-block;
}
.mountings img,.overflow img,.essential img{
    width: 100%;
}
.mountingsGoods p,.overflowGoods p,.essentialGoods p,
.mountingsGoods div,.overflowGoods div,.essentialGoods div{
    line-height: 20rem/$size;
    color: #3e3e3e;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center; 
    position: relative;
}
.overflowGoods div span:nth-child(2),.essentialGoods div span:nth-child(2){
    color: #9c9c9c;
    text-decoration: line-through;
}
.overflowGoods div span:nth-child(1),.essentialGoods div span:nth-child(1){
    color: red;
    margin-right: 2rem/$size;
}
.mountingsGoods div:after,.overflowGoods div:after,.essentialGoods div:after{
    content: '';
    display: inline-block;
    width: 20rem/$size;
    height: 20rem/$size;
    background-position: -120rem/$size -20rem/$size;
    position: absolute;
    right: 0;
    bottom: 0;
}
.overflow{
    margin-bottom: 50rem/$size;
}