body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 640px;
  width: 100%;
  margin: auto !important;
  background-color: #f4f4f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.swiper-container{
  width: 100%;
  height: 100%;
}
.swiper-slide{
  position: relative;
}

.swiper-pagination-bullets{
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;
  margin-bottom: 1.5%;
}
.swiper-pagination-bullets span{
  background-color: #fff;
  opacity: 1;
  width: 5px;
  height: 5px;
}
.swiper-pagination-bullet-active{
  background-color: #e8380d !important;
}